---
import { otherprojects } from "../../data/otherprojects.json";
---

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6">
      <p
        class="text-xs lg:col-start-2 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2000">
        Welcome to my portfolio! I am a passionate Full Stack Developer and UI Designer dedicated to 
        creating seamless and visually captivating digital experiences. With a strong foundation in both 
        front-end and back-end development, as well as a keen eye for design aesthetics, I specialize in crafting 
        web applications that not only function flawlessly but also look stunning.
      </p>
      <p
        class="text-xs lg:col-start-2 leading-relaxed underline underline-offset-4"
        data-aos="fade-up"
        data-aos-duration="2500">
        I am currently available for Enquires. do not hesitate to get in
        contact. <a href="mailto:yousefelassal24@gmail.com">yousefelassal24@gmail.com</a
        >
      </p>
      <p
        class="text-xs lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2500">
        As a UI Designer, I believe that a beautiful user interface is the gateway to a great user experience. 
        I meticulously design user-friendly, responsive, and pixel-perfect interfaces that cater to a wide range 
        of devices and screen sizes. My designs are not just visually appealing but also optimized for usability 
        and accessibility, ensuring that every user can engage with your application effortlessly.
      </p>
      <p
        class="text-xs lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="3000">
        On the development side, I am well-versed in a variety of programming languages, frameworks, and databases. 
        I have a knack for building robust back-end systems that power your applications efficiently and securely. 
        Whether it's creating RESTful or GraphQL APIs, managing databases, or implementing server-side logic, I ensure that your 
        application's foundation is solid and scalable.
      </p>
    </div>
  </div>

  <div class="px-8 2xl:max-w-7xl mx-auto py-32">
    <div class="space-y-2">
      <div
        class="h-0.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="1000">
      </div>
      <h3
        class="text-secondary text-xs font-medium"
        data-aos="fade-up"
        data-aos-duration="1500">
        <span>Main</span>
        <span class="font-bold">projects</span>
      </h3>
    </div>
    <ul
      class="mx-auto grid grid-cols-1 sm:grid-cols-2 text-secondary md:grid-cols-3 lg:grid-cols-4 items-start gap-6 mt-32"
      role="list">
      <li class="flow-root h-full" data-aos="fade-up" data-aos-duration="1500">
        <a href="https://trello-3al-daya2.vercel.app/">
          <div class="h-full flex flex-col justify-between">
            <div>
              <p
                class="group-hover:text-secondary/70 text-secondary text-9xl font-bold lg:rotate-90 xl:-translate-x-28 lg:-translate-x-16 lg:mb-8 xl:mb-0">
                01.
              </p>
              <p class="italic shrink-0">Trello Clone</p>
              <p class="text-xs mt-3 leading-relaxed">
                Fullstack Trello clone built with GraphQL, featuring file uploads.
              </p>
            </div>
            <div>
              <p class="mt-3 text-xs font-semibold">
                Create a board &nbsp; ↗
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="flow-root h-full" data-aos="fade-up" data-aos-duration="2000">
        <a href="https://traductor-mw5.pages.dev/">
          <div class="h-full flex flex-col justify-between">
            <div>
              <p
                class="group-hover:text-secondary/70 text-secondary text-9xl font-bold lg:rotate-90 xl:-translate-x-28 lg:-translate-x-16 lg:mb-8 xl:mb-0">
                02.
              </p>
              <p class="italic shrink-0">Traductor</p>
              <p class="text-xs mt-3 leading-relaxed">
                Detect, translate and pronounce different languages using Microsoft Azure AI Services
              </p>
            </div>
            <div>
              <p class="mt-3 text-xs font-semibold">
                Try it now &nbsp; ↗
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="flow-root h-full" data-aos="fade-up" data-aos-duration="2500">
        <a href="https://github.com/yousefelassal/job-hunter">
          <div class="h-full flex flex-col justify-between">
            <div>
              <p
                class="group-hover:text-secondary/70 text-secondary text-9xl font-bold lg:rotate-90 xl:-translate-x-28 lg:-translate-x-16 lg:mb-8 xl:mb-0">
                03.
              </p>
              <p class="italic shrink-0">Job Hunter</p>
              <p class="text-xs mt-3 leading-relaxed">
                React Native app for a seamless and efficient job hunting experience.
              </p>
            </div>
            <div>
              <p class="mt-3 text-xs font-semibold">
                Check out Job Hunter &nbsp; ↗
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="flow-root h-full" data-aos="fade-up" data-aos-duration="3000">
        <a href="https://image-color-picker-pi.vercel.app/">
          <div class="h-full flex flex-col justify-between">
            <div>
              <p
                class="group-hover:text-secondary/70 text-secondary text-9xl font-bold lg:rotate-90 xl:-translate-x-28 lg:-translate-x-16 lg:mb-8 xl:mb-0">
                04.
              </p>
              <p class="italic shrink-0">Image Colour Picker</p>
              <p class="text-xs mt-3 leading-relaxed">
                Extract HEX codes from images with this handy tool.
              </p>
            </div>
            <div>
              <p class="mt-3 text-xs font-semibold">
                Grab some colours &nbsp; ↗
              </p>
            </div>
          </div>
        </a>
      </li>
    </ul>
    <div class="mt-32 space-y-2">
      <div class="h-0.5 bg-secondary"></div>
      <h3 class="text-secondary text-xs font-medium">
        <span>Other</span>
        <span class="font-bold">projects</span>
      </h3>
    </div>

    <ul
      class="mx-auto grid grid-cols-1 sm:grid-cols-2 text-left divide-y-2 divide-primary lg:grid-cols-4 items-start text-primary mt-3">
      {
        otherprojects.map((template) => (
          <>
            <li class="flow-root col-span-full h-full hover:bg-transparent hover:text-secondary bg-secondary duration-200">
              <a
                href={template.url}
                class="flex flex-col sm:flex-row justify-between gap-6 h-full ">
                <div class="p-3">
                  <p class="italic shrink-0">{template.title}</p>
                </div>
                <div class="p-3 ">
                  <p class="text-xs leading-relaxed">{template.description}</p>
                </div>
              </a>
            </li>
          </>
        ))
      }
    </ul>
  </div>
</section>
