<section class="bg-primary">
  <div
    class="px-8 2xl:max-w-7xl mx-auto pt-12"
    data-aos="fade-up"
    data-aos-duration="2000">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 293 57" fill="none">
      <path d="M48.2105 56.816V47.472H52.2425C53.5652 47.472 54.5252 47.28 55.1225 46.896C55.7198 46.512 56.0185 45.8933 56.0185 45.04C56.0185 44.3573 55.5278 42.8 54.5465 40.368L44.1145 13.36H56.8505L60.8825 26.48C61.1812 27.4613 61.4798 28.6133 61.7785 29.936C62.1198 31.2587 62.3758 32.3467 62.5465 33.2L62.8025 34.416H62.9305C63.5705 31.344 64.2318 28.6987 64.9145 26.48L68.8825 13.36H80.9145L69.7785 46C68.4132 49.968 66.7065 52.7627 64.6585 54.384C62.6532 56.0053 59.9652 56.816 56.5945 56.816H48.2105ZM110.868 42.16C107.625 45.4027 103.316 47.024 97.9395 47.024C92.5635 47.024 88.2328 45.4027 84.9475 42.16C81.6622 38.9173 80.0195 34.7787 80.0195 29.744C80.0195 24.7093 81.6622 20.5707 84.9475 17.328C88.2328 14.0427 92.5635 12.4 97.9395 12.4C103.316 12.4 107.625 14.0427 110.868 17.328C114.11 20.5707 115.732 24.7093 115.732 29.744C115.732 34.7787 114.11 38.9173 110.868 42.16ZM97.8115 38.96C99.6462 38.96 101.033 38.128 101.972 36.464C102.953 34.8 103.444 32.56 103.444 29.744C103.444 26.928 102.953 24.688 101.972 23.024C101.033 21.36 99.6462 20.528 97.8115 20.528C96.0195 20.528 94.6542 21.36 93.7155 23.024C92.7768 24.6453 92.3075 26.8853 92.3075 29.744C92.3075 32.6027 92.7768 34.864 93.7155 36.528C94.6542 38.1493 96.0195 38.96 97.8115 38.96ZM152.019 46H140.499V41.776H140.307C137.747 45.2747 134.355 47.024 130.131 47.024C126.333 47.024 123.432 45.8933 121.427 43.632C119.464 41.3707 118.483 38.2987 118.483 34.416V13.36H130.579V31.536C130.579 34.992 132.029 36.72 134.931 36.72C136.509 36.72 137.725 36.208 138.579 35.184C139.475 34.16 139.923 32.752 139.923 30.96V13.36H152.019V46ZM170.892 47.088C165.942 47.088 161.974 46.064 158.988 44.016C156.001 41.968 154.486 39.1093 154.444 35.44H166.028C166.241 38.2987 167.884 39.728 170.956 39.728C173.729 39.728 175.116 38.7893 175.116 36.912C175.116 35.8027 174.54 35.0347 173.388 34.608C172.236 34.1387 170.486 33.7333 168.14 33.392C167.67 33.3493 167.329 33.3067 167.116 33.264C165.793 33.0507 164.662 32.8373 163.724 32.624C162.828 32.4107 161.782 32.0693 160.588 31.6C159.436 31.088 158.497 30.4907 157.772 29.808C157.089 29.0827 156.492 28.1227 155.98 26.928C155.51 25.7333 155.276 24.3467 155.276 22.768C155.276 19.5253 156.705 16.9867 159.564 15.152C162.422 13.2747 165.942 12.336 170.124 12.336C175.03 12.336 178.785 13.2107 181.388 14.96C184.033 16.7093 185.462 19.2053 185.676 22.448H174.284C174.028 20.4853 172.662 19.504 170.188 19.504C169.206 19.504 168.374 19.7173 167.692 20.144C167.052 20.528 166.732 21.104 166.732 21.872C166.732 22.6827 167.244 23.2587 168.268 23.6C169.334 23.9413 171.062 24.2827 173.452 24.624C174.988 24.8373 176.225 25.0507 177.164 25.264C178.145 25.4347 179.318 25.7973 180.684 26.352C182.092 26.864 183.18 27.504 183.948 28.272C184.758 28.9973 185.462 30.0213 186.06 31.344C186.657 32.624 186.956 34.1387 186.956 35.888C186.956 39.6 185.462 42.3947 182.476 44.272C179.532 46.1493 175.67 47.088 170.892 47.088ZM206.376 46.896C201.085 46.896 196.776 45.2747 193.448 42.032C190.162 38.7893 188.52 34.6507 188.52 29.616C188.52 24.624 190.141 20.4853 193.384 17.2C196.626 13.9147 200.808 12.272 205.928 12.272C210.749 12.272 214.76 13.744 217.96 16.688C221.885 20.3147 223.784 25.6267 223.656 32.624H200.36C201.128 36.6773 203.261 38.704 206.76 38.704C208.893 38.704 210.408 37.8933 211.304 36.272H223.016C222.29 39.344 220.221 41.968 216.808 44.144C213.949 45.9787 210.472 46.896 206.376 46.896ZM206.184 20.4C202.984 20.4 201.042 22.3413 200.36 26.224H211.624C211.368 24.3893 210.749 22.96 209.768 21.936C208.829 20.912 207.634 20.4 206.184 20.4ZM224.323 20.656V13.36H228.355V11.568C228.355 7.856 229.294 5.104 231.171 3.312C233.902 0.70933 239.128 -0.18667 246.851 0.623997V8.624C245.699 8.624 244.803 8.64533 244.163 8.688C243.566 8.73067 242.926 8.88 242.243 9.136C241.603 9.34933 241.134 9.73333 240.835 10.288C240.579 10.8427 240.451 11.5893 240.451 12.528V13.36H246.851V20.656H240.451V46H228.355V20.656H224.323Z" fill="#0000FF"/>
    </svg>
  </div>
  <div class="px-8 2xl:max-w-7xl mx-auto pb-12">
    <div class="mt-6 space-y-2">
      <div
        class="h-0.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="1000">
      </div>
      <div
        class="flex flex-col sm:flex-row gap-3 justify-between items-center"
        data-aos="fade-up"
        data-aos-duration="1500">
        <div class="flex gap-3 items-center">
          <h3 class="text-secondary text-xs font-medium">
            <span>UI Designer</span>
            <span class="font-bold">Full-stack dev</span>
            <span class="italic">Freelancer</span>
          </h3>
          <span class="h-auto border-secondary border"></span>
          <span class="text-secondary text-xs font-semibold"
            >Available for work</span
          >
        </div>
        <div>
          <ul class="items-center inline-flex gap-3 relative">
            <li>
              <a
                href="https://github.com/yousefelassal"
                class="hover:text-secondary/80 text-secondary"
                ><svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="16"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                    d="M12 2C6.475 2 2 6.475 2 12a9.994 9.994 0 0 0 6.838 9.488c.5.087.687-.213.687-.476 0-.237-.013-1.024-.013-1.862-2.512.463-3.162-.612-3.362-1.175-.113-.288-.6-1.175-1.025-1.413-.35-.187-.85-.65-.013-.662.788-.013 1.35.725 1.538 1.025.9 1.512 2.338 1.087 2.912.825.088-.65.35-1.087.638-1.337-2.225-.25-4.55-1.113-4.55-4.938 0-1.088.387-1.987 1.025-2.688-.1-.25-.45-1.275.1-2.65 0 0 .837-.262 2.75 1.026a9.28 9.28 0 0 1 2.5-.338c.85 0 1.7.112 2.5.337 1.912-1.3 2.75-1.024 2.75-1.024.55 1.375.2 2.4.1 2.65.637.7 1.025 1.587 1.025 2.687 0 3.838-2.337 4.688-4.562 4.938.362.312.675.912.675 1.85 0 1.337-.013 2.412-.013 2.75 0 .262.188.574.688.474A10.016 10.016 0 0 0 22 12c0-5.525-4.475-10-10-10z"
                    fill="currentColor"></path></svg
                ></a
              >
            </li><li>
              <a
                href="mailto:yousefelassal24@gmail.com"
                class="hover:text-secondary/80 text-secondary"
                ><svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="16"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                    d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm17 4.238l-7.928 7.1L4 7.216V19h16V7.238zM4.511 5l7.55 6.662L19.502 5H4.511z"
                    fill="currentColor"></path></svg
                ></a
              >
            </li>
          </ul>
        </div>
      </div>
      <div
        class="h-1.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="2000">
      </div>
      <div class="h-3 bg-secondary" data-aos="fade-up" data-aos-duration="2500">
      </div>
      <div class="h-6 bg-secondary" data-aos="fade-up" data-aos-duration="3000">
      </div>
      <div
        class="h-12 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="3000">
      </div>
      <div
        class="h-24 bg-secondary flex items-end p-4"
        data-aos="fade-up"
        data-aos-duration="3000"
        data-aos-delay="150">
      </div>
    </div>
  </div>
</section>
